# Ignoriere alle Videos im Background-Ordner
backgrounds/*

# Aber behalte den Ordner selbst (falls du eine .gitkeep drin hast)
!backgrounds/.gitkeep

# Ignoriere kompilierte Einstellungen
schemas/*.compiled

# release zip
gnome-wallpaper-engine@gjs.com.zip

# System-Müll
.DS_Store